/*
 * Template Name: Unify - Responsive Bootstrap Template
 * Description: Business, Corporate, Portfolio, E-commerce, Blog and One Page Template.
 * Version: 1.9.2
 * Author: @htmlstream
 * Website: http://htmlstream.com
*/

/*Import Global Compulsory CSS Files*/
@import url(app.css);
@import url(blocks.css);

/*Import CSS Plugins*/
/*@import url(plugins/style-switcher.css);*/

* {
	border-radius: 0;
}

body {
 color: #333;
 font-size: 13px;
 line-height: 1.6;
}

body.header-fixed-space {
  padding-top: 94px;
}
body.header-fixed-space-v2 {
	padding-top: 135px;
}

@media (max-width: 991px) {
	body.header-fixed-space,
	body.header-fixed-space-v2 {
		padding-top: 0;
	}
}

p,
li,
li a,
label {
 color: #191919;
}

a {
 color: #5B9E55;
 text-decoration: none;
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
	outline: 0 !important;
}

a:focus {
text-decoration: none;
}
a:hover {
 color: #5B9E55;
 text-decoration: underline;
}

/*Boxed Layout
------------------------------------*/
.wrapper {
	background: #E9EAEE;
}

.boxed-layout {
  padding: 0;
  box-shadow: 0 0 5px #ccc;
  margin-left: auto !important;
  margin-right: auto !important;
  background: url(../img/patterns/15.png) repeat;
}

/*Hiding arrows for select field in IE*/
select::-ms-expand {
  display: none;
}

.wrapper .form-control {
    /*border-radius: 0px;*/
}
.wrapper .btn {
    /*border-radius: 0px;*/
}
.carousel-inner {
    border-radius: 5px;
}
.login_soicial {
    margin-top: 20px;
}
.row_soicial {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.row_soicial .btn-social {
    padding-left: 0px;
}
.full_title {
    text-align: center;
}
.content-sm {
    padding: 30px 0;
    border-top: 2px solid #333;
}
