<div class="panel panel-default">
    <div class="panel-heading with-icon">
        {if ($sub_view == "listsbysubject") || ($sub_view == "listsbystudent")  && $canEdit}
            <div class = "pull-right flip">
                <a href="{$system['system_url']}/school/{$username}/points/importManual" class="btn btn-default">
                    <i class="fa fa-plus"></i> {__("Import Manual")}
                </a>
                <a href="{$system['system_url']}/school/{$username}/points/importExcel" class="btn btn-default">
                    <i class="fa fa-plus"></i> {__("Import Excel")}
                </a>
            </div>
        {/if}
        <i class="fa fa-tasks fa-fw fa-lg pr10"></i>
        {__('Point')}
        {if $sub_view == "edit"}
            &rsaquo; {$data['role_name']}
        {elseif $sub_view == "assign"}
            &rsaquo; {__('Assign teacher')}
        {elseif $sub_view == "listsbysubject"}
            &rsaquo; {__('Lists by subject')}
        {elseif $sub_view == "listsbystudent"}
            &rsaquo; {__('Lists by student')}
        {elseif $sub_view == "importManual"}
            &rsaquo; {__('Manual import point')}
        {elseif $sub_view == "importExcel"}
            &rsaquo; {__('Excel import point')}
        {/if}
    </div>
    {if $sub_view == "listsbysubject"}
        <div class="panel-body">
            <form class="form-horizontal" action="#" enctype="multipart/form-data" method="post" id="point_search_form">
                <input type="hidden" name="school_username" id="school_username" value="{$username}"/>
                <input type="hidden" name="do" value="search_with_subject"/>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-9">
                        <select name="school_year" id="school_year" class="form-control">
                            {foreach $default_year as $key => $year}
{*                                <option value="{$year}" {if $key == count($default_year) - 1}selected{/if}>{$year}</option>*}
                                <option value="{$year}" {if (substr($year, 0, strlen(date("Y"))) === date("Y"))}selected{/if}>{$year}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select class level")} (*)</label>
                    <div class="col-sm-3">
                        <select name="class_level_id" id="point_class_level_id" data-username="{$username}" class="form-control" autofocus>
                            <option value="">{__("Select class level")}</option>
                            {foreach $class_levels as $level}
                                <option value="{$level['class_level_id']}">{$level['class_level_name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="class_id" id="point_class_id_import" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select class")}...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <select name="semester" class="form-control">
                            {foreach $semesters as $semester => $name}
                                <option value="{$semester}">{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="subject_id" id="point_subject_id" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select subject")}...</option>
                        </select>
                    </div>
                </div>
                {if $grade == 1}
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <select name="is_last_semester" id="is_last_semester" class="form-control">
                                <option value="0">{__("Mid semester")}</option>
                                <option value="1">{__("Last semester")}</option>
                            </select>
                        </div>
                    </div>
                {/if}
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" id="submit_id" class="btn btn-primary padrl30">{__("Search")}</button>
                    </div>
                </div>
                <div id="school_list_point"></div>
                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
            </form>

        </div>
    {elseif $sub_view == "listsbystudent"}
        <div class="panel-body">
            <form class="form-horizontal" action="#" enctype="multipart/form-data" method="post" id="point_search_form">
                <input type="hidden" name="school_username" id="school_username" value="{$username}"/>
                <input type="hidden" name="do" value="search_with_student"/>
                <div class="form-group">

                    <div class="col-sm-3 col-sm-offset-9">
                        <select name="school_year" id="school_year" class="form-control">
                            {foreach $default_year as $key => $year}
{*                                <option value="{$year}" {if $key == count($default_year) - 1}selected{/if}>{$year}</option>*}
                                <option value="{$year}" {if (substr($year, 0, strlen(date("Y"))) === date("Y"))}selected{/if}>{$year}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select class level")} (*)</label>
                    <div class="col-sm-3">
                        <select name="class_level_id" id="point_class_level_id" data-username="{$username}" class="form-control" autofocus>
                            <option value="">{__("Select class level")}</option>
                            {foreach $class_levels as $level}
                                <option value="{$level['class_level_id']}">{$level['class_level_name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="class_id" id="point_class_id_import" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select class")}...</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        {*                        <select name="subject_id" id="point_subject_id" class="form-control" data-username="{$username}" required></select>*}
                        <select name="student_code" id="point_student_code" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select student")}...</option>
                        </select>
                    </div>
                </div>
                {if $grade == 1}
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <select name="is_last_semester" id="is_last_semester" class="form-control">
                                <option value="0">{__("Mid semester")}</option>
                                <option value="1">{__("Last semester")}</option>
                            </select>
                        </div>
                    </div>
                {/if}
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" id="submit_id" class="btn btn-primary padrl30">{__("Search")}</button>
                    </div>
                </div>
                <div id="school_list_point"></div>
                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
            </form>

        </div>
    {elseif $sub_view == "assign"}
        <div class="panel-body">
            <form class="js_ajax-forms form-horizontal" data-url="ci/bo/school/bo_point.php">
                <input type="hidden" name="school_username" id="school_username" value="{$username}"/>
{*                <input type="hidden" name="role_id" value="{$data['role_id']}"/>*}
                <input type="hidden" name="do" value="assign"/>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-9">
                        <select name="school_year" id="school_year" class="form-control">
                            {foreach $default_year as $key => $year}
{*                                <option value="{$year}" {if $key == count($default_year) - 1}selected{/if}>{$year}</option>*}
                                <option value="{$year}" {if (substr($year, 0, strlen(date("Y"))) === date("Y"))}selected{/if}>{$year}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select class level")} (*)</label>
                    <div class="col-sm-3">
                        <select name="class_level_id" id="point_class_level_id" data-username="{$username}" class="form-control" autofocus>
                            <option value="">{__("Select class level")}</option>
                            {foreach $class_levels as $level}
                                <option value="{$level['class_level_id']}">{$level['class_level_name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="class_id" id="point_class_id" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select class")}...</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="semester" id="semester" data-username="{$username}" class="form-control">
                            {foreach $semesters as $semester => $name}
                                <option value="{$semester}">{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="table-responsive" id="subject_list"></div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary padrl30">{__("Save")}</button>
                    </div>
                </div>

                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
            </form>

        </div>
    {elseif $sub_view == "importManual"}
        <div class="panel-body">
            <form class="form-horizontal" action="#" enctype="multipart/form-data" method="post" id="point_import_Manual_form">
                <input type="hidden" name="school_username" id="school_username" value="{$username}"/>
                <input type="hidden" name="do" value="importManual"/>

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-9">
                        <select name="school_year" id="school_year" class="form-control">
                            {foreach $default_year as $key => $year}
{*                                <option value="{$year}" {if $key == count($default_year) - 1}selected{/if}>{$year}</option>*}
                                <option value="{$year}" {if (substr($year, 0, strlen(date("Y"))) === date("Y"))}selected{/if}>{$year}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select class level")} (*)</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <select name="class_level_id" id="point_class_level_id" data-username="{$username}" class="form-control" autofocus>
                            <option value="">{__("Select class level")}</option>
                            {foreach $class_levels as $level}
                                <option value="{$level['class_level_id']}">{$level['class_level_name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="class_id" id="point_class_id_import" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select class")}...</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="semester" id="semester" class="form-control">
                            {foreach $semesters as $semester => $name}
                                <option value="{$semester}">{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="subject_id" id="point_subject_id" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select subject")}...</option>
                        </select>
                    </div>

                </div>
                {if $grade == 1}
                    <div class="form-group">
                        <div class="col-sm-3">
                            <select name="is_last_semester" id="is_last_semester" class="form-control">
                                <option value="0">{__("Mid semester")}</option>
                                <option value="1">{__("Last semester")}</option>
                            </select>
                        </div>
                    </div>
                {/if}
                <div id="school_list_point"></div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-4">
                        <button type="submit" id="submit_id" class="btn btn-primary padrl30">{__("Save")}</button>
                    </div>
                </div>

                <div class="table-responsive" id="result_info" name="result_info"></div>

                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
            </form>

        </div>

    {elseif $sub_view == "importExcel"}
        <div class="panel-body">
            <form class="form-horizontal" action="#" enctype="multipart/form-data" method="post" id="point_import_excel_form">
                <input type="hidden" name="school_username" id="school_username" value="{$username}"/>
                <input type="hidden" name="do" value="importExcel"/>

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-9">
                        <select name="school_year" id="school_year" class="form-control">
                            {foreach $default_year as $key => $year}
{*                                <option value="{$year}" {if $key == count($default_year) - 1}selected{/if}>{$year}</option>*}
                                <option value="{$year}" {if (substr($year, 0, strlen(date("Y"))) === date("Y"))}selected{/if}>{$year}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select class level")} (*)</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <select name="class_level_id" id="point_class_level_id" data-username="{$username}" class="form-control" autofocus>
                            <option value="">{__("Select class level")}</option>
                            {foreach $class_levels as $level}
                                <option value="{$level['class_level_id']}">{$level['class_level_name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="class_id" id="point_class_id_import" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select class")}...</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="subject_id" id="point_subject_id" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select subject")}...</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="semester" class="form-control">
                            {foreach $semesters as $semester => $name}
                                <option value="{$semester}">{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                {if $grade == 1}
                    <div class="form-group">
                        <div class="col-sm-3">
                            <select name="is_last_semester" id="is_last_semester" class="form-control">
                                <option value="0">{__("Mid semester")}</option>
                                <option value="1">{__("Last semester")}</option>
                            </select>
                        </div>
                    </div>
                {/if}
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select Excel file")}</label>
                    <div class="col-sm-6">
                        <input type="file" name="file" id="file">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" id="submit_id" class="btn btn-primary padrl30">{__("Save")}</button>
                    </div>
                </div>

                <div class="table-responsive" id="result_info" name="result_info"></div>

                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
            </form>

        </div>

    {elseif $sub_view == "comment"}
        <div class="panel-body">
            <form class="js_ajax-forms form-horizontal" data-url="ci/bo/school/bo_point.php">
                <input type="hidden" name="school_username" id="school_username" value="{$username}"/>
                <input type="hidden" name="do" value="comment"/>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-9">
                        <select name="school_year" id="school_year" class="form-control">
                            {foreach $default_year as $key => $year}
{*                                <option value="{$year}" {if $key == count($default_year) - 1}selected{/if}>{$year}</option>*}
                                <option value="{$year}" {if (substr($year, 0, strlen(date("Y"))) === date("Y"))}selected{/if}>{$year}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">{__("Select class level")} (*)</label>
                    <div class="col-sm-3">
                        <select name="class_level_id" id="point_class_level_id" data-username="{$username}" class="form-control" autofocus>
                            <option value="">{__("Select class level")}</option>
                            {foreach $class_levels as $level}
                                <option value="{$level['class_level_id']}">{$level['class_level_name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="class_id" id="point_class_id_comment" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select class")}...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <select name="child_id" id="point_child_id_comment" class="form-control" data-username="{$username}" required>
                            <option value="">{__("Select student...")}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select id="semester" name="semester" class="form-control">
                            {foreach $semesters as $semester => $name}
                                <option value="{$semester}">{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                {if $grade == 1}
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <select name="is_last_semester" id="is_last_semester" class="form-control">
                                <option value="0">{__("Mid semester")}</option>
                                <option value="1">{__("Last semester")}</option>
                            </select>
                        </div>
                    </div>
                {/if}

{*                <div class="form-group">*}
{*                    <div class="col-sm-9 col-sm-offset-3">*}
{*                        <button type="button" class="btn btn-primary padrl30 search_child_comment"  data-username="{$username}">{__("Search")}</button>*}
{*                    </div>*}
{*                </div>*}

                <div class="table-responsive" id="child_comment"></div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary padrl30" disabled="true" id="submit_id">{__("Save")}</button>
                    </div>
                </div>
                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
            </form>

        </div>
    {/if}
</div>