
/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  background: url("../img/background_03.png") no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 0px;
  padding-bottom: 20px;
  min-width: 992px;
  font-family: "r0c0iLinotte-SemiBold", sans-serif!important;
}*/
body {
  font-family: "r0c0iLinotte-Regular", sans-serif!important;
}
/*.home-page {
  background: url("../img/background_03.png") no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 0px;
  padding-bottom: 20px;

}*/
.header-ci {
  background: url("../images/background_03.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 0px;
  padding-bottom: 20px;
}
.content-home {
  background-color: #fafafa;
}
body {
  font-size: 15px;
}

/*Coniu css*/

.header-ci {

}
.logo-text {
  padding: 0 15px;
}
.navbar-header {
  float: right;
}
.navbar-ci {
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.navbar-inverse-ci {
  /*background-color: #222;*/
  /*border-color: #080808;*/
}

.navbar-fixed-top-ci {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-brand-ci {
  display: block;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand-ci .img-social {

}
.form-group .form-password {
  width: 150px;
}

.logo-header {

}
.navbar-logo {
  float: right;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-logo .logo{

  height: 55px;

}
.navbar-logo h5 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.coniu {
  margin-bottom: 30px;
  color: inherit;
  /*background-color: #eee;*/
}
.coniu h1,
.coniu .h1 {
  color: inherit;
}
.coniu p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.container .coniu {
  border-radius: 6px;
}
.coniu .container {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .coniu {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .container .coniu {
    padding-right: 60px;
    padding-left: 60px;
  }
  .coniu h1,
  .coniu .h1 {
    font-size: 63px;
  }
}

.content-register .content-left {
  float: left;
  width: 50%;
}
.content-left-top {
  margin-top: 30px;
  margin-bottom: 20px;
}
.content-left-bottom {
  margin-top: 10px;
  clear: both;
}
.content-register .content-right {
  float: right;
  width: 50%;

}
.top-header-sm {
  border-right: 1px solid #fff;
}

/*Button Social Login*/
.btn-block-ci {
  width: 150%;
  padding-right: 0;
  padding-left: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {

}
.carousel {
  position: relative;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 65%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

.carousel-inner {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin-left: 50%;
}

.carousel-inner .one-slide, .two-slide, .three-slide  {

}
.carousel .item {
  height: 270px;
}


/* Register form*/
.label-style {
  color: white;
  font-weight: 100!important;
}

.controls-ci {
  margin-top: 10px;
}
.control-group {
  margin-bottom: 10px;
}

.form-horizontal {

  width: 50%;
}
/* nga style */
.logo-header p {
  text-align: center;
}
.content-home h3{
  text-align: center;
  color:#84be39!important;
  font-weight: bold;
  font-size: 28px;
}

.growth {
  background: url('../images/img_vector.png') no-repeat;
  height: 350px;
  background-size: contain;
  background-position: right;

}
.chart {
  background-size: contain;
  background-position: center;
}
.footer-left {
  float: left;
  padding-top:15px;
  padding-bottom: 15px;
}
.footer-left ul li {
  float: left;
  list-style-type: none;
  color: #ffffff;
  margin-left: 0px;
}
.footer-left ul {
  margin-left: 0px;
}
.footer-right {
  float: right;
  padding-top:15px;
  padding-bottom: 15px;
  color: #ffffff;
}
.footer {
  background-color: #262261;
}
.footer-right p {
  margin: 0px 0px 0px!important;
  font-size: 13px;
}
.col-content {
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer-left ul li a {
  color: #ffffff!important;
  border-right: 1px solid #fff;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
}
.text-content {
  padding-top: 40px;
  line-height: 20px;
}
.navbar-right .form-control {
  background-color: transparent!important;
  color:#ffffff!important;
  border:none;
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
  border-radius: 0px;
  padding:0px;
}
.navbar-right .btn-success {
  color:#5a7ca6!important;
  background-color:#ffffff;
  border-color: #ffffff;
}
.dk {
  padding-left: 14px;
}
.dk a {
  color: white;
}
.name {
  padding-right: 5px;
}
.sex {
  padding-left: 0px;
}
.dk span {
  text-align: justify;
  font-size: 13px;
}
.btn-facebook {
  border-color: none;
  text-align: center;
}
.text-content ul li {
  list-style-type: none;
}
.btn-social {
  text-align: center;
  margin-bottom: 10px;
}
.footer-left ul li:last-child a {
  border-right: none;
}
.btn-facebook,.btn-google {
  border-color: transparent;
}
.btn-social>:first-child {
  border-right: none;
}
#carousel .slide:nth-child(3) {
  left: 200px!important;
}
#carousel .slide:nth-child(2) {
  left: 268.5px!important;
}
#carousel .slide:nth-child(1) {
  left: 369.027px!important;
}
/* Responsive */
@media (width: 320px) {
  .growth {
    height: 500px;
  }
}
@media (min-width: 360px) and (max-width: 400px) {
  .growth {
    height: 475px;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  .growth {
    height: 335px;
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  .growth {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .navbar-logo .logo {
    margin-left: 0px;
  }
  .content-left-top {
    margin-top: 30px;
    float: inherit;
    width: inherit;
    margin-bottom: 0px;
  }
  .top-header-sm {
    border-right: none;
  }
  .form-horizontal {
    width: 100%;
    padding-top: 200px;
  }
  .name {
    padding-right: 15px;
  }
  .sex {
    padding-left: 15px;
  }
  .label-style {
    color: #333333;
  }
  .growth ,.chart,#carousel  {
    display: block;
  }
  .col-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text-content {
    padding-top: 0px;
  }
  .coniu {
    margin-bottom: 0px;
  }
  .header-ci {
    padding-bottom: 0px;
  }
  .footer-left ul {
    display: inline;
  }
  .footer-right {
    float: none;
    text-align: center;
  }
  .chart {
    display: none;
  }
  .header-ci {
    background: rgba(90, 124, 166, 1 );
  }
  .top-header-sm {
    border: none;
  }

}
@media only screen and (min-width : 768px) and (max-width : 992px) {
  .top-header-sm {
    border-right: none;
  }
  .form-horizontal {
    width: 50%;
    /*margin: 0px auto;*/
  }
  .label-style {
    color: #333;
    font-weight: 100!important;
  }
  #carousel {
    width: 100%!important;
  }
  .chart {
    height: 360px;
  }
  .col-content {
    position: relative;
  }
  .chart-img {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
  }
  .footer-right {
    text-align: center;
    width: 100%;
  }
  .header-ci {
    background: rgba(90, 124, 166, 1 );

  }
}
@media only screen and (min-width : 993px) and (max-width : 1200px) {
}

/* laptop */
@media only screen and (min-width: 1201px) and (max-width: 1360px) {
}

@media only screen and (min-width: 1361px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {

  .header-ci {
    background: rgba(0, 0, 0, 0) url("../images/background_03.png") no-repeat scroll 0 0 / cover ;
    padding-bottom: 315px;
    padding-top: 0;
  }
  .navbar-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 106px;
  }
  .navbar-logo .col-sm-12:nth-child(2) {
    margin-bottom: 30px;
  }
}

/* big screen */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
}

@media only screen and (min-width: 2561px) {
}