<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>CONIU | 404 Error</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/animate.css">
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/sassets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/sassets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/assets/css/pages/page_error3_404.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{$system['system_url']}/content/themes/{$system['theme']}/assets/css/custom.css">
</head>

<body>
<!--=== Error V3 ===-->
<div class="container content valign__middle">
    <!-- Error Block -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v3">
                <h2>404</h2>
                <p>Sorry, the page you were looking for could not be found!</p>
            </div>
        </div>
    </div>
    <!-- End Error Block -->

    <!-- Begin Service Block V2 -->
    <div class="row service-block-v2">
        <div class="col-md-4">
            <div class="service-block-in service-or">
                <div class="service-bg"></div>
                <i class="icon-bulb"></i>
                <h4>Not what you were looking for?</h4>
                <p>If the page is not what you are looking for, try searching the page on the search page and find out new things.</p>
                <a class="btn-u btn-brd btn-u-light" href="#"> Discover More</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="service-block-in service-or">
                <div class="service-bg"></div>
                <i class="icon-directions"></i>
                <h4>Possible cause of the problem</h4>
                <p>The page you requested could not be found. However, the requested resource may be available again in the future.</p>
                <a class="btn-u btn-brd btn-u-light" href="#"> Go back to Home Page</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="service-block-in service-or">
                <div class="service-bg"></div>
                <i class="icon-users"></i>
                <h4>Contact us</h4>
                <p>If you have a problem with the website, please contact us, our support team will help you to solve the problem.</p>
                <a class="btn-u btn-brd btn-u-light" href="#"> Contact Us</a>
            </div>
        </div>
    </div>
    <!-- End Service Block V2 -->
</div>
<!--=== End Error-V3 ===-->

<!--=== Sticky Footer ===-->
<div class="container sticky-footer">
    <p class="copyright-space">
        2016 &copy; Unify Template. All Rights Reserved.
    </p>
</div>
<!--=== End Sticky-Footer ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{$system['system_url']}/content/themes/{$system['theme']}/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    $.backstretch([
        "{$system['system_url']}/content/themes/{$system['theme']}/images/img/blur/img1.jpg"
    ])
</script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<![endif]-->
</body>
</html>
