<div class="posts-filter">
    <span>{__("Recent Updates")}</span>
    <div class="pull-right flip">
        <!-- filter -->
        <div class="btn-group btn-group-xs js_posts-filter" data-value="all" title='{__("All")}'>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="btn-group-icon fa fa-bars fa-fw"></i> <span class="btn-group-text">{__("All")}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-title='{__("All")}' data-value="all"><i class="fa fa-bars fa-fw"></i> {__("All")}</a></li>
                <li><a href="#" data-title='{__("Text")}' data-value="text"><i class="fa fa-comment fa-fw"></i> {__("Text")}</a></li>
                <li><a href="#" data-title='{__("Photos")}' data-value="photos"><i class="fa fa-file-image fa-fw"></i> {__("Photos")}</a></li>
                <li><a href="#" data-title='{__("Videos")}' data-value="video"><i class="fa fa-film fa-fw"></i> {__("Videos")}</a></li>
                <li><a href="#" data-title='{__("Audios")}' data-value="audio"><i class="fa fa-music fa-fw"></i> {__("Audios")}</a></li>
                <li><a href="#" data-title='{__("Files")}' data-value="file"><i class="fa fa-file-alt fa-fw"></i> {__("Files")}</a></li>
            </ul>
        </div>
        <!-- filter -->
    </div>
</div>