{include file = "_head_new.tpl"}
{include file = '_header_new.tpl'}

<!--=== Breadcrumbs v2 ===-->
<div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
	<div class="breadcrumbs-v2-in">
		<h1>{__("Frequently Asked Questions")}</h1>
		<ul class="breadcrumb-v2 list-inline">
			<li><a href="{$system['system_url']}"><i class="rounded-x fa fa-angle-right"></i>{__("Home")}</a></li>
			<li class="active"><i class="rounded-x fa fa-angle-right"></i>{__("FAQ")}</li>
		</ul>
	</div>
</div>
<!--=== End Breadcrumbs v2 ===-->

<!--=== FAQ Page ===-->
<div class="container content faq-page">
	<!-- FAQ Blocks -->
	<div class="row equal-height-columns margin-bottom-40">
		<div class="col-sm-4">
			<div class="easy-block-v3 service-or equal-height-column">
				<div class="service-bg"></div>
				<i class="icon-badge"></i>
				<div class="inner-faq-b">
					<h3>Coniu để làm gì?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="easy-block-v3 service-or equal-height-column">
				<div class="service-bg"></div>
				<i class="icon-directions"></i>
				<div class="inner-faq-b">
					<h3>Coniu cung cấp gì?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="easy-block-v3 service-or equal-height-column">
				<div class="service-bg"></div>
				<i class="icon-layers"></i>
				<div class="inner-faq-b">
					<h3>Ai có thể dùng Coniu?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End FAQ Blocks -->
	
	<!-- FAQ Content -->
	<div class="row">
		<!-- Begin Tab v1 -->
		<div class="col-md-6">
			<div class="tab-v1">
				<ul class="nav nav-tabs margin-bottom-20">
					<li class="active"><a data-toggle="tab" href="#home">Top 7 questions</a></li>
					<li><a data-toggle="tab" href="#profile">Payment assistance</a></li>
					<li><a data-toggle="tab" href="#messages">Work for Unify</a></li>
					<li><a data-toggle="tab" href="#settings">About Unify</a></li>
				</ul>
				<div class="tab-content">
					<!-- Tab Content 1 -->
					<div id="home" class="tab-pane fade in active">
						<div id="accordion-v1" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-One" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How to Customize Sky-Forms
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Two" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											What is "Error 404" page?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Three" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How to apply background with "Opacity"
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Four" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How to use Vector Map
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Five" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											Can I use Unify Template on multiple projects?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Six" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How can I make sure that I always have the latest version of Unify?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Six">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Seven" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											Is it safe to Update?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Seven">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Tab Content 1 -->
					
					<!-- Tab Content 2 -->
					<div id="profile" class="tab-pane fade">
						<div id="accordion-v2" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-One" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistance first
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-v2-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Two" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistance second
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Three" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistance third
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Four" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistanc fourth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Five" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistanc fifth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab Content 2 -->
					
					<!-- Tab Content 3 -->
					<div id="messages" class="tab-pane fade">
						<div id="accordion-v3" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-One" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify first
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-v3-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Two" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify second
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Three" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify third
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Four" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify fourth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Five" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify fifth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab Content 3 -->
					
					<!-- Tab Content 4 -->
					<div id="settings" class="tab-pane fade">
						<div id="accordion-v4" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-One" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify first
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-v4-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Two" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify second
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Three" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify third
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Four" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify fourth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Five" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify fifth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab Content 4 -->
				</div>
			</div>
		</div><!--/col-md-6-->
		<!--End Tab v1-->

		<div class="col-md-6">
			<div class="tab-v1">
				<ul class="nav nav-tabs margin-bottom-20">
					<li class="active"><a data-toggle="tab" href="#home">Top 7 questions</a></li>
					<li><a data-toggle="tab" href="#profile">Payment assistance</a></li>
					<li><a data-toggle="tab" href="#messages">Work for Unify</a></li>
					<li><a data-toggle="tab" href="#settings">About Unify</a></li>
				</ul>
				<div class="tab-content">
					<!-- Tab Content 1 -->
					<div id="home" class="tab-pane fade in active">
						<div id="accordion-v1" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-One" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How to Customize Sky-Forms
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Two" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											What is "Error 404" page?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Three" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How to apply background with "Opacity"
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Four" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How to use Vector Map
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Five" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											Can I use Unify Template on multiple projects?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Six" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											How can I make sure that I always have the latest version of Unify?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Six">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-Seven" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
											Is it safe to Update?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-Seven">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Tab Content 1 -->

					<!-- Tab Content 2 -->
					<div id="profile" class="tab-pane fade">
						<div id="accordion-v2" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-One" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistance first
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-v2-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Two" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistance second
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Three" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistance third
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Four" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistanc fourth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v2-Five" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
											Payment assistanc fifth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v2-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab Content 2 -->

					<!-- Tab Content 3 -->
					<div id="messages" class="tab-pane fade">
						<div id="accordion-v3" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-One" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify first
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-v3-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Two" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify second
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Three" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify third
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Four" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify fourth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v3-Five" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
											Work for Unify fifth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v3-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab Content 3 -->

					<!-- Tab Content 4 -->
					<div id="settings" class="tab-pane fade">
						<div id="accordion-v4" class="panel-group acc-v1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-One" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify first
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-v4-One">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Two" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify second
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Two">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Three" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify third
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Three">
									<div class="panel-body">
										Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Four" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify fourth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Four">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapse-v4-Five" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
											About Unify fifth
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapse-v4-Five">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab Content 4 -->
				</div>
			</div>
		</div><!--/col-md-6-->
		<!-- End Popular Topics -->
	</div>
	<!-- End FAQ Content -->
</div><!--/container-->
<!--=== End FAQ Page ===-->

<!--=== FAQ Content ===-->
<div class="container content-sm">
	<div class="row equal-height-columns margin-bottom-40">
		<div class="col-sm-4 no-space">
			<div class="easy-block-v3 equal-height-column first">
				<i class="fa fa-headphones"></i>
				<div class="inner-faq-b">
					<h3>{__("Contact")}</h3>
					<h4><a href="tel:0966900466" class="btn-u">0966 900 466</a></h4>
					<p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 no-space">
			<div class="easy-block-v3 equal-height-column second">
				<i class="icon-cursor"></i>
				<div class="inner-faq-b">
					<h3>{__("Email")}</h3>
					<h4><a href="mailto:contact@mascom.vn" title="Gửi mail cho ban quản trị MascomEdu" class="btn-u">contact@mascom.vn</a></h4>
					<p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 no-space">
			<div class="easy-block-v3 equal-height-column third">
				<i class="icon-support"></i>
				<div class="inner-faq-b">
					<h3>{__("Support")}</h3>
					<h4><a href="#" class="btn-u">Hỗ trợ sử dụng</a></h4>
					<p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
				</div>
			</div>
		</div>
	</div>
</div><!--/container-->
<!--=== End FAQ Content ===-->

<!--=== Footer Version 1 ===-->
{include file = '_footer_new.tpl'}