{include file='_head_new.tpl'}
{include file='_header_new.tpl'}
<div id="top"></div>
<div class="soicial_left_box">
    <div class="soicial_normal soi_face" align="center"><a href="#" target="_blank"><i
                    class="fa fa-facebook-f"></i></a></div>
    <div class="soicial_normal soi_goo" align="center"><a href="#"
                                                          target="_blank"><i class="fa fa-google"></i></a></div>
    <div class="soicial_normal soi_twi" align="center"><a href="#" target="_blank"><i
                    class="fa fa-twitter"></i></a></div>
</div>
<div class="box-video">
    <div class="video">
        <a href="#" class="register_close"><i class="fa fa-close"></i></a>
        <iframe class="myVideo" width="100%" height="450"
                src="https://www.youtube.com/embed/xUEI4tcYo7w?rel=0&amp;controls=0&amp;autoplay=0" frameborder="0"
                allowfullscreen=""></iframe>
    </div>
</div>
<div class="box_reg_school">
    <div class="reg_school">
        <a href="#" class="register_school_close"><i class="fa fa-close"></i></a>
        <div class="contact_form">
            <div class align="center">
                <h3><b>{__("FREE register for your school")|upper}</b></h3>
            </div>
            <form class="js_ajax-forms" data-url="ci/bo/school/bo_contact.php" action="_email">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="control-group">
                            <div class="control" style="margin-top: 5px">
                                <input type="text" id="name2" name="name2"
                                       placeholder="{__('School name/Your name')} (*)" class="form-control"
                                       required maxlength="255">
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-group col-sm-6">
                                <div class="control">
                                    <input type="email" class="form-control" name="email2" placeholder="Email (*)"
                                           required maxlength="50">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-group col-sm-6">
                                <div class="control">
                                    <input type="text" id="phone_contact" name="phone2"
                                           placeholder="{__('Telephone')} (*)" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="control-group">
                            <textarea rows="4" id="content_contact" name="content2"
                                      placeholder="{__('Please enter all information, Coniu staff will contact you soon. Note: Only correct school information will be supported.')} (*)"
                                      class="form-control content_class"
                                      required></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12" align="center">
                        <a class="register_term" href="#">{__("Terms and conditions for FREE registration")}</a></span>

                    </div>
                </div>
                {if $system.reCAPTCHA_enabled}
                    <div id="recaptcha2"></div>
                {/if}

                <div class="control-ci" align="center">
                    <button type="submit" class="btn btn-success"
                            style="width: 50%">{__("FREE register for your school")|upper}</button>
                </div>
                <!-- success -->
                <div class="alert alert-success mb0 mt10 x-hidden" role="alert"></div>
                <!-- success -->
                <!-- error -->
                <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
                <!-- error -->
            </form>
        </div>
    </div>
</div>
<div class="login_overlay"></div>
<div class="home_wrapper">
    <div class="banner_img">
        <img class="img-responsive img_hd"
             src="{$system['system_url']}/content/themes/{$system['theme']}/images/banner.jpg"
             alt="Phần mềm quản lý mầm non Coniu">
        <img class="img-responsive img_fullhd"
             src="{$system['system_url']}/content/themes/{$system['theme']}/images/banner_full_hd.jpg"
             alt="Phần mềm quản lý mầm non Coniu">
        <div class="banner-content">
            <div class="container">
                <div class="row row_content">
                    <div class="col-sm-4 banner_right_col" style="float:right">
                        <div class="banner_log">
                            <div class="banner_signin panel-body {if $do == 'up'}x-hidden{/if}">
                                <h3 class="mb20" align="left">{__("Sign in")}</h3>
                                <div class="login-con">
                                    <div class="signin_mobile">
                                        <form id="login_success" class="js_ajax_not_modal-forms" method="POST" data-url="core/verify_phone.php">
                                            <input id="csrf" type="hidden" name="csrf" />
                                            <input id="code" type="hidden" name="code" />
                                        </form>

                                        <form class="js_ajax_not_modal-forms" data-url="core/signin.php">
                                            <div class="form-group">
                                                <input type="text" id="email" name="username_email"
                                                        {*placeholder='{__("Email")} {__("or")} {__("mobile number")}'*}
                                                       placeholder='{__("Email")}' class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <input name="password" id="password" type="password"
                                                       class="form-control" placeholder='{__("Password")}' required>
                                            </div>

                                            <div class="row">
                                                <div class="signin_text">
                                                    <div class="col-xs-6">
                                                        <div class="check-box">
                                                            <div class="checkbox">
                                                                <label><input style="margin-top: 2px;"
                                                                              type="checkbox" id="remember"
                                                                              name="remember">{__("Remember me")}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6" align="right">
                                                        <div class="q_password">
                                                            <a href="{$system['system_url']}/reset">{__("Forget your password?")}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div align="center">
                                                        <div class="control-ci">
                                                            <button style="width: 100%" type="submit"
                                                                    class="btn btn-primary but_signin"> {__("Sign in")} </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- error -->
                                            <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
                                            <!-- error -->

                                        </form>
                                        {if $system['social_login_enabled']}
                                            <div class="hr-heading mt15 mb10">
                                                <div class="hr-heading-text">
                                                    {__("Or")} {__("login with")}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a onclick="smsLogin();" class="btn btn-block btn-social btn-success">
                                                    <i class=" fa fas fa-mobile"></i> <strong>{__("Sign in with Facebook")|upper}</strong>
                                                </a>
                                            </div>
                                            {if $system['facebook_login_enabled'] || $system['google_login_enabled']}
                                                <div class="login_soicial">
                                                    <div class="form-group">
                                                        <a href="{$system['system_url']}/connect/facebook" class="btn btn-block btn-social btn-facebook">
                                                            <i class="fa fa-facebook-f"></i> <strong>{__("Sign in with Facebook")|upper}</strong>
                                                        </a>
                                                    </div>
                                                    {*<div class="form-group">*}
                                                        {*<a href="{$system['system_url']}/connect/google" class="btn btn-block btn-social btn-google">*}
                                                            {*<i class="fa fa-google"></i> {__("Đăng nhập bằng Google")|upper}*}
                                                        {*</a>*}
                                                    {*</div>*}
                                                </div>
                                            {/if}
                                        {/if}
                                        {if $system['registration_enabled'] || (!$system['registration_enabled'] && $system['invitation_enabled'])}
                                            {*<div class="mt20 text-center">*}
                                                {**}
                                            {*</div>*}
                                            <div class="login_soicial">
                                                <div class="form-group">
                                                    <a href="{$system['system_url']}/signup"
                                                       class="js_toggle-panel btn btn-block btn-social btn-google"><i class="fa fa-user" aria-hidden="true"></i> <strong>{__("Register")|upper}</strong></a>
                                                </div>
                                            </div>
                                        {/if}

                                    </div>

                                </div>
                            </div>
                            <div class="banner_signup panel-body {if $do != 'up'}x-hidden{/if}" align="left">
                                <h3>{__("Create a new account")}</h3>
                                <div class="signup">
                                    {*<span class="personal-text">{__("This section is only for normal user registration. Schools register to use the service below")}*}
                                        {*! <a href="#" class="js_free-trial">{__("HERE")}</a></span><span class="personal-text">{__("This section is only for normal user registration. Schools register to use the service below")}*}
                                        {*! <a href="#" class="js_free-trial">{__("HERE")}</a></span>*}
                                    <form class="js_ajax_not_modal-forms" data-url="core/signup.php">

                                        <div class="name_taila">
                                            <div class="row row_dk">
                                                <div class="col-xs-6 col_dk" style="padding-right: 7.5px">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" id="last_name" name="last_name"
                                                                   placeholder='{__("Last name")}' class="form-control"
                                                                   required/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col_dk" style="padding-left: 7.5px">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" id="first_name" name="first_name"
                                                                   placeholder='{__("First name")}' class="form-control"
                                                                   required/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="name_taila">
                                            <div class="row row_dk">
                                                <div class="col-xs-8 col_dk" style="padding-right: 7.5px">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" id="email" name="email"
                                                                    {*placeholder='{__("Email")} {__("or")} {__("mobile number")}' class="form-control" required/>*}
                                                                   placeholder='{__("Email")}' class="form-control"
                                                                   required/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col_dk" style="padding-left: 7.5px">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <select name="gender" id="gender" class="form-control"
                                                                    required>
                                                                <option value="female">{__("Female")}</option>
                                                                <option value="male">{__("Male")}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input type="password" id="password" name="password"
                                                               placeholder='{__("Password")}' class="form-control"
                                                               required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {if $system.reCAPTCHA_enabled}
                                            <div id="recaptcha1"></div>
                                        {/if}

                                        <div class="dieukhoan">
                                            <p>{__("Sign Up, you agree to our")} <a
                                                        href="{$system['system_url']}/terms">{__("Terms")}</a></p>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="control-group  mar0">
                                                    <div class="controls-ci">
                                                        <button type="submit" class="btn btn-success"
                                                                style="width: 100%">{__("Sign Up")}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- error -->
                                        <div class="alert alert-danger mb0 mt10 x-hidden" role="alert"></div>
                                        <!-- error -->
                                    </form>

                                    <div class="mt20 text-center">{__("Have an account?")}
                                        <a href="{$system['system_url']}/signin"
                                           class="js_toggle-panel text-link">{__("Login Now")}</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="banner-trial" align="center">
                            <h4>
                                <b>{__("Free download")|upper}</b>
                            </h4>
                        </div>
                        <div class="banner_store row" align="center">
                            <div class="google col-sm-6" align="right">
{*                                <a id="android_banner" href="{$smarty.const.GOOGLEPLAY_URL}" target="_blank"> <img*}
                                <a id="android_banner" href="#" target="_blank"> <img
                                            class="img-responsive google_img"
                                            src="{$system['system_url']}/content/themes/{$system['theme']}/images/img/google.png"
                                            alt="Phần mềm mầm non Coniu trên CH Play"/> </a>
{*                                <a id="ios_banner" href="{$smarty.const.APPSTORE_URL}" target="_blank"><img*}
                                <a id="ios_banner" href="#" target="_blank"><img
                                            class="img-responsive ios_img"
                                            src="{$system['system_url']}/content/themes/{$system['theme']}/images/img/ios.png"
                                            alt="Phần mềm mầm non Coniu trên App store"/> </a>
                            </div>
                            <div class="qr_code col-sm-6" align="left">
                                <div class="qr_code_box">
                                    {*                                    <h5>Ưu điểm vượt trội</h5>*}
                                    {*                                    <p><i class="fa fa-check"></i> Không phí cài đặt </p>*}
                                    {*                                    <p><i class="fa fa-check"></i> Đa dạng chức năng </p>*}
                                    {*                                    <p><i class="fa fa-check"></i> Hỗ trợ 24/7 </p>*}
                                    <h5>{__("Outstanding advantages")}</h5>
                                    <p><i class="fa fa-check"></i>{__("No setup fee")}</p>
                                    <p><i class="fa fa-check"></i>{__("Multifunction")}</p>
                                    <p><i class="fa fa-check"></i>{__("24/7 support")}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home_background">
        <div class="container">
            <div class="home_intro">
                <div class="intro_title" align="center">
                    <h2>{__("Newspapers talk about Mascom - Edu")}</h2>
{*                    <h2>{__("Báo chí nói về Coniu")}</h2>*}
                </div>
                <div class="intro_content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="news_box">
                                <div class="news_img_box">
                                    <img class="img-responsive news_img"
                                         src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/bao1.png"
{*                                         alt="Báo chí nói về Phần mềm mầm non Coniu">*}
                                         alt="{__("Newspapers talk about Mascom Edu's software")}">
                                    <div class="img_mark"></div>
{*                                    <div class="news_name"><p>Báo Giáo dục</p></div>*}
                                    <div class="news_name"><p>{__("educational newspaper")}</p></div>
                                    <div class="news_name_add"></div>
                                </div>
                                <div class="news_content_box">
                                    {*<div class="news_date">*}
                                    {*<p>* * * * *</p>*}
                                    {*</div>*}
                                    <div class="news_title">
                                        <a href="https://www.familyminded.com/s/best-high-school-campuses-6a146788b036480d"
                                           target="_blank" title="Most Beautiful High School Campuses in the U.S">Most Beautiful High School Campuses in the U.S</a>
                                    </div>
                                    <div class="news_shortdes">
                                        <p>Every community has a beloved high school, but not every community turns those high schools into works of art.
                                            Yet across the United States, some high schools have become more than a place to get a diploma... <a target="_blank"
                                                              title="Most Beautiful High School Campuses in the U.S"
                                                              href="https://www.familyminded.com/s/best-high-school-campuses-6a146788b036480d">{__("See more")}</a></p>
                                    </div>
                                    {*<div class="news_readmore">*}
                                    {*<a href="http://giaoduc.net.vn/Giao-duc-24h/Ap-dung-cong-nghe-40-trong-day-hoc-mam-non-post186456.gd" target="_blank">{__("See More")}</a>*}
                                    {*</div>*}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="news_box">
                                <div class="news_img_box">
                                    <img class="img-responsive news_img"
                                         src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/bao2.png"
                                         alt="Tech in your child’s middle or high school">
                                    <div class="img_mark"></div>
                                    <div class="news_name"><p>{__("Science & technology")}</p></div>
                                    <div class="news_name_add"></div>
                                </div>
                                <div class="news_content_box">
                                    {*<div class="news_date">*}
                                    {*<p>* * * * *</p>*}
                                    {*</div>*}
                                    <div class="news_title">
                                        <a href="https://www.greatschools.org/gk/articles/how-technology-is-used-in-middle-high-school-classrooms/"
                                           target="_blank" title="Tech in your child’s middle or high school: what to look for, what to ask">Tech in your child’s middle or high school: what to look for, what to ask</a>
                                    </div>
                                    <div class="news_shortdes">
                                        <p>Kids are using everything from iPads and laptops to smartphones and editing programs at school. But how can you tell if all this "ed tech" is actually helping your child learn… <a target="_blank"
                                                                                 title="Tech in your child’s middle or high school: what to look for, what to ask"
                                                                                 href="https://www.greatschools.org/gk/articles/how-technology-is-used-in-middle-high-school-classrooms/">{__("See more")}</a></p>
                                    </div>
                                    {*<div class="news_readmore">*}
                                    {*<a href="http://khoahocvacongnghevietnam.com.vn/khcn-trung-uong/19714-quan-ly-va-ket-noi-mam-non-voi-coniu.html" target="_blank">{__("See More")}</a>*}
                                    {*</div>*}
                                </div>
                            </div>
                        </div>
{*                        <div class="col-sm-4">*}
{*                            <div class="news_box">*}
{*                                <div class="news_img_box">*}
{*                                    <iframe width="100%" height="210px"*}
{*                                            src="https://www.youtube.com/embed/UeX_NTtV5lU?rel=0&amp;controls=1"*}
{*                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*}
{*                                </div>*}
{*                                <div class="news_content_box">*}
{*                                    *}{*<div class="news_date">*}
{*                                    *}{*<p>* * * * *</p>*}
{*                                    *}{*</div>*}
{*                                    <div class="news_title">*}
{*                                        <a href="https://youtu.be/UeX_NTtV5lU" target="_blank">Start-up coffee -*}
{*                                            VTV1</a>*}
{*                                    </div>*}
{*                                    <div class="news_shortdes">*}
{*                                        <p>Start-up coffee recognizes Mascom Edu as an application*}
{*                                            that brings many benefits in managing lower secondary education,*}
{*                                            connecting schools - parents and supporting parents in raising children .....</p>*}
{*                                    </div>*}
{*                                    *}{*<div class="news_readmore">*}
{*                                    *}{*<a href="https://youtu.be/UeX_NTtV5lU" target="_blank">{__("See More")}</a>*}
{*                                    *}{*</div>*}
{*                                </div>*}
{*                            </div>*}
{*                        </div>*}
                    </div>
                </div>
                {*<div class="customer_seemore" align="center">*}
                {*<a target="_blank" href="https://blog.coniu.vn/category/huong-dan-su-dung-ung-dung-coniu/tai-khoan-quan-ly/">{__("See More")}</a>*}
                {*</div>*}
                <div class="content_trial" align="center" style="margin-top: 30px">
                    <a href="#" class="btn btn-success js_free-trial">{__("FREE register for your school")|upper}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home_background_none">
        <div class="container">
            <div class="home_intro">
                <div class="intro_title" align="center">
                    <h2>{__("Mascom Edu - super connection between parents - school - community")}</h2>
                </div>
                <div class="home_around">
                    <img class="img-responsive img_around"
                         src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/around.png"
                         alt="Phần mềm mầm non Coniu hỗ trợ siêu kết nối">
                    <div class="around_parent" align="right">
                        <div class="parent_title">
                            <h4>{__("Parent")}</h4>
                        </div>
                        <div class="parent_content">
                            {__("Easily track your student at school anytime, anywhere. Connect with the school to better raise student")}
                            .
                        </div>
                    </div>
                    <div class="around_chef" align="left">
                        <div class="parent_title">
                            <h4>{__("Chef")}</h4>
                        </div>
                        <div class="parent_content">
                            {__("It is easy to see daily school meals on the Mascom - Edu application")}.
                        </div>
                    </div>
                    <div class="around_accountant" align="left">
                        <div class="parent_title">
                            <h4>{__("Accountant")}</h4>
                        </div>
                        <div class="parent_content">
                            {__("The Mascom - Edu system automatically calculates meal fee, tuition based on attendance information and service registration")}
                            .
                        </div>
                    </div>
                    <div class="around_principal" align="center">
                        <div class="parent_title">
                            <h4>{__("Administrators")}</h4>
                        </div>
                        <div class="parent_content">
                            {__("Know all the management information and daily activities of the school every time, everywhere on mobile")}
                            .
                        </div>
                    </div>
                    <div class="around_teacher" align="right">
                        <div class="parent_title">
                            <h4>{__("Teacher")}</h4>
                        </div>
                        <div class="parent_content">
                            {__("Communicate easily and transparently with parents and other departments in the school")}
                            .
                        </div>
                    </div>
                </div>
                <div class="content_trial" align="center">
                    <a href="#" class="btn btn-success js_free-trial">{__("FREE register for your school")|upper}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home_background">
        <div class="container">
            <div class="home_intro">
                <div class="intro_title" align="center" style="padding-bottom: 0">
                    <h2>{__("Customers talk about Mascom - Edu")}</h2>
                </div>
                <div class="intro_des" align="center">
                    <h4>{__("Customer satisfaction is our greatest success")}!</h4>
                </div>
                <div class="intro_content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">

                                    <div class="item active">
                                        <div class="customer">
                                            <div class="customer_intro">
                                                <div class="row">
                                                    <div class="col-xs-4" align="center" style="padding-right: 7.5px">
                                                        <div class="customer_img_box">
                                                            <img class="img-responsive customer_img"
                                                                 src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/customer.jpg"
                                                                 alt="Customer talks about Software Mascom Edu">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-8" style="padding-left: 7.5px">
                                                        <div class="customer_content_box">
                                                            <p class="customer_name">Nguyen Thanh Tuan</p>
                                                            <p class="customer_position">
                                                                Chairman of the board
                                                            </p>
                                                            <a class="customer_link" href="#">
                                                                Marie Curie School
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="customer_text_box">
                                                <p class="customer_text">
                                                    Thanks to Mascom Edu, I was able to manage the school anytime,
                                                    anywhere on the phone. I received all feedback and suggestions
                                                    from parents for timely adjustments and improvements. Wish Mascom Edu
                                                    more and more developed!
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="customer">
                                            <div class="customer_intro">
                                                <div class="row">
                                                    <div class="col-xs-4" align="center" style="padding-right: 7.5px">
                                                        <div class="customer_img_box">
                                                            <img class="img-responsive customer_img"
                                                                 src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/customer4.jpg"
                                                                 alt="Customer talks about Software Mascom Edu">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-8" style="padding-left: 7.5px">
                                                        <div class="customer_content_box">
                                                            <p class="customer_name">Vu Thi Hien</p>
                                                            <p class="customer_position">
                                                                Principal
                                                            </p>
                                                            <a class="customer_link" href="#">
                                                                Lomoloxop junior high school
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="customer_text_box">
                                                <p class="customer_text">
                                                    Mascom Edu helped us change our school management method, which is much
                                                    more economical and efficient. Parts did not have to be manually exchanged
                                                    as before!
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="customer">
                                            <div class="customer_intro">
                                                <div class="row">
                                                    <div class="col-xs-4" align="center" style="padding-right: 7.5px">
                                                        <div class="customer_img_box">
                                                            <img class="img-responsive customer_img"
                                                                 src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/customer3.jpg"
                                                                 alt="Customer talks about Software Mascom Edu">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-8" style="padding-left: 7.5px">
                                                        <div class="customer_content_box">
                                                            <p class="customer_name">Nguyen Thanh Huyen</p>
                                                            <p class="customer_position">
                                                                Officer
                                                            </p>
                                                            <a class="customer_link" href="#">
                                                                Dong Da, Ha Noi City
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="customer_text_box">
                                                <p class="customer_text">
                                                    Mascom Edu gives me a sense of peace of mind when I bring my children to school
                                                    I also get to know my children at school and talk to teachers very well
                                                    convenient!
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="phone_img_box">
                                <img class="phone_img img-responsive" style="margin:auto;"
                                     src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/iphonex.png"
                                     alt="Software Mascom Edu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {*<div class="customer_seemore" align="center">*}
            {*<a href="#">{__("More customers")}</a>*}
            {*</div>*}
        </div>
    </div>
    <div class="home_background_none">
        <div class="container">
            <div class="home_intro">
                <div class="intro_title" align="center">
                    <h2>{__("Mascom Edu - Proudly the School application that parents across the country believe in")}</h2>
                </div>
                <div class="intro_content">
                    <div class="row intro_content_row">
                        <div class="intro_content_in">
                            <div class="col-sm-4 content_col">
                                <div class="content_pad">
                                    <div class="content_icon" align="center">
                                        <div class="content-radius">
                                            <img class="content_img img-responsive"
                                                 src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/parent.png"
                                                 alt="Benefits of software Mascom - Edu with parents">
                                        </div>
                                    </div>
                                    <div class="content_header" align="center">
                                        <h3 class="content_header_text">{__("Benefits to parents")}</h3>
                                    </div>
                                    <div class="content_text">
                                        <ul>
                                            <li>{__("Share and learn experiences in raising Student with the community of wise mothers")}
                                                .
                                            </li>
                                            <li>{__("Consult, expert advice on questions")}.</li>
{*                                            <li>{__("Sử dụng sổ y bạ điện tử: biểu đồ chiều cao, cân nặng; tiểu sử bệnh và lịch sử uống thuốc…")}</li>*}
                                            <li>{__("Find suitable schools for your child simply through the function 'Find a school around here'")}
                                                .
                                            </li>
                                            <li>{__("Search for suitable videos, reading stories, lessons for your child")}
                                                .
                                            </li>
                                            <li>{__("Update and exchange with teachers about student activities, activities and learning")}
                                                .
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 content_col">
                                <div class="content_pad">
                                    <div class="content_icon" align="center">
                                        <div class="content-radius">
                                            <img class="content_img img-responsive"
                                                 src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/teacher.png"
                                                 alt="Benefits of software Mascom - Edu with Teachers">
                                        </div>
                                    </div>
                                    <div class="content_header" align="center">
                                        <h3 class="content_header_text">{__("Benefits to teacher")}</h3>
                                    </div>
                                    <div class="content_text">
                                        <ul>
                                            <li>{__("Share and learn from school experiences with a community of teachers and experts")}
                                                .
                                            </li>
                                            <li>{__("Exchange and share with parents quickly and directly on the phone")}
                                                .
                                            </li>
                                            <li>{__("Easy classroom management: announcements, event registration, attendance, late leave, student comments")}
                                                .
                                            </li>
                                            <li>{__("Transparent information, avoiding misunderstanding between parents - teachers")}
                                                .
                                            </li>
                                            <li>{__("Minimize paperwork and exchange with other departments (accountants, labor ...)")}
                                                .
                                            </li>
                                            <li>{__("Minimize manipulation with automated forms and calculations")}
                                                .
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 content_col">
                                <div class="content_pad">
                                    <div class="content_icon" align="center">
                                        <div class="content-radius">
                                            <img class="content_img img-responsive"
                                                 src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/school.png"
                                                 alt="Benefits of software Mascom - Edu with Schools">
                                        </div>
                                    </div>
                                    <div class="content_header" align="center">
                                        <h3 class="content_header_text">{__("Benefits to school")}</h3>
                                    </div>
                                    <div class="content_text">
                                        <ul>
                                            <li>{__("No initial investment (only need to register to use)")}</li>
                                            <li>{__("Easily promote the image of the school to the community, support enrollment")}
                                                .
                                            </li>
                                            <li>{__("Manage all daily information of the school on the phone, fast statistics.")}</li>
                                            <li>{__("Interconnection between school departments (teachers, accountants, employees ...)")}</li>
                                            <li>{__("Share, exchange and inform teachers and parents quickly")}
                                                .
                                            </li>
                                            <li>{__("Promptly grasp parents' ideas and make appropriate adjustments")}.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_trial" align="center">
                    <a href="#" data-toggle="tab"
                       class="btn btn-success js_free-trial">{__("FREE register for your school")|upper}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home_background economi_back"
         style="background: url('{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/background_economi.jpg')">
        <div class="container">
            <div class="home_intro">
                <div class="intro_title" align="center" style="padding-bottom: 0">
                    <h2>{__("150+ schools have chosen Mascom - Edu for better management")}</h2>
                </div>
                <div class="intro_des" align="center">
                    <h4>{__("Mascom - Edu is a School social network that connects wise parents. In addition, Mascom - Edu is an intelligent School management system and supports parent-school connectivity. Register for your school, please contact the information below")}
                        :</h4>
                </div>
                <div class="intro_content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="economi_box" align="center">
                                <div class="economi_icon">
                                    <img class="img-responsive"
                                         src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/support.png"
                                         alt="Liên hệ sử dụng Phần mềm mầm non Mascom Edu">
                                </div>
                                <div class="economi_title">
                                    <p>{__("SUPPORT 24/7")}</p>
                                </div>
                                <div class="economi_short">
                                    <p>{__("All days of the week (from Monday to Sunday) | Day and night")}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="economi_box" align="center">
                                <div class="economi_icon">
                                    <img class="img-responsive"
                                         src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/contact.png"
                                         alt="Liên hệ sử dụng Phần mềm mầm non Coniu">
                                </div>
                                <div class="economi_title">
                                    <p>{__("HOTLINE")}: <a href="tel:(+84) 942413666">(+84) 942413666</a></p>
                                </div>
                                <div class="economi_short">
                                    <p>{__("Free consultation center for Mascom - Edu customers")}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="economi_box" align="center">
                                <div class="economi_icon">
                                    <img class="img-responsive"
                                         src="{$system['system_url']}/content/themes/{$system['theme']}/images/home_new/email.png"
                                         alt="Liên hệ sử dụng Phần mềm mầm non Coniu">
                                </div>
                                <div class="economi_title">
                                    <p>{__("EMAIL")}: <a href="mailto:contact@mascom.vn">contact@mascom.vn</a></p>
                                </div>
                                <div class="economi_short">
                                    <p>{__("We respond to your email as quickly as possible")}.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {*<div class="content_trial" align="center">*}
                {*<a href="#" class="btn btn-success js_free-trial"><b>{__("FREE register for your school")|upper}</b></a>*}
                {*</div>*}
            </div>
        </div>
    </div>
    <div class="home_background_black">
        <div class="container">
            <div class="home_intro info_home" style="padding-bottom: 30px; padding-top: 30px">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footer_box">
                            <a href="{$system['system_url']}">
                                <div class="footer_logo_box">
                                    <div class="footer_logo">
                                        <img class="img-responsive" style="max-width: 50px;margin-left: auto;margin-right: auto;"
                                             src="{$system['system_url']}/content/themes/{$system['theme']}/images/logo.png"
                                             alt="{$system['system_title']} | {__("School management and connection software")}" title="{$system['system_title']} | {__("School management and connection software")}">
                                    </div>
                                    <div class="footer_slogan">
                                        <p style="text-align: center;">{__("Connect love")}</p>
                                    </div>
                                </div>
                            </a>
{*                            <div class="footer_address">*}
{*                                <ul>*}
{*                                    <li><a href="https://www.noga.vn" target="_blank"*}
{*                                           title="{__("NOGA Joint Stock Company")}">{__("NOGA Joint Stock Company")|upper}</a>*}
{*                                        <br/>- {__("Tax Identification Number")}: 0107455916, {__("Issued")}: 01/06/2016, {__("Issued by")}: Sở KHĐT HN.*}
{*                                        <br/>- Website: <a href="https://www.noga.vn" target="_blank"*}
{*                                                           title="{__("NOGA Joint Stock Company")}">https://www.noga.vn</a>*}
{*                                        <br/>- {__("Address")}*}
{*                                        : {__("No. 32-241, Chien Thang Street, Ha Dong District, Hanoi.")}*}
{*                                    </li>*}
{*                                </ul>*}
{*                            </div>*}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="footer_box">
                            <div class="row">
                                <div class="col-sm-6" style="padding-right: 5px">
                                    <div class="menu_box" align="left">
                                        <div class="menu_header">
                                            <p>{__("Parent")}</p>
                                        </div>
                                        <div class="menu_content">
                                            <ul>
                                                <li><p><a target="_blank"
                                                          href="#">{__("What is Mascom- Edu?")}</a>
                                                    </p></li>
                                                <li><p><a target="_blank"
                                                          href="#">{__("How to use Mascom - Edu?")}</a>
                                                    </p></li>
                                                <li><p><a target="_blank"
                                                          href="#">{__("Questioned users")}</a>
                                                    </p></li>
                                                <li><p><a target="_blank" href="#">{__("When your child go to school")}</a></p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="padding-left: 5px">
                                    <div class="menu_box" align="left">
                                        <div class="menu_header">
                                            <p>{__("School")}</p>
                                        </div>
                                        <div class="menu_content">
                                            <ul>
                                                <li><p><a target="_blank"
                                                          href="#">{__("What is Mascom - Edu support for the school?")}</a>
                                                    </p></li>
                                                <li><p><a target="_blank"
                                                          href="#">{__("Characteristics")}</a>
                                                    </p></li>
                                                <li><p><a target="_blank"
                                                          href="#">{__("FAQ")}</a>
                                                    </p></li>
                                                <li><p><a target="_blank"
                                                          href="#">{__("Usage guide")}</a>
                                                    </p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_box">
                            <div class="menu_box" align="left">
                                <div class="menu_header">
                                    <p>{__("Cooperation")}</p>
                                </div>
                                <div class="menu_content">
                                    <ul>
                                        <li><p><a target="_blank" href="#">{__("Partner progrmam")}</a></p></li>
                                        <li><p>{__("Telephone")}: <strong><a href="tel:(+84) 942413666">(+84) 942413666</a></strong></p></li>
                                        <li><p>Email: <a href="mailto:contact@mascom.vn">{$system['mail_contact']}</a></p>
                                        </li>
                                        <li><p>Facebook: <a href="#" target="_blank">fb.com/mascom.edu.vn</a>
                                            </p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end liên hệ taila -->
{include file='_footer_new.tpl'}
