{include file='_head_new.tpl'}
{include file='_header_new.tpl'}
<div style="margin-top: 20%; position: absolute; top:0; bottom: 0;width: 100%">
    <div align="center">
        <h1 style="color: #627CA1">{__("Mascom - Edu - school management and interaction application")}</h1>
        <h2 style="color: #5B9E55">{__("Hệ thống đang được cập nhật, vui lòng đợi trong giây lát")}</h2>
    </div>
</div>
<div class="" style="position: fixed; bottom: 0; left: 0; width: 100%;">
    {include file='_footer_new.tpl'}
</div>
