
{if $view == ""}
{elseif $view == "attendance"}
{elseif $view == "medicines"}
    {if $sub_view == ""}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    {__("Đây là danh sách trẻ cần được cho uống thuốc của")} <strong>NGÀY HÔM NAY</strong>. Đơn thuốc có thể do nhà trường/giáo viên hoặc phụ huynh tạo ra.
                    <br/>- Những đơn thuốc đã cho trẻ uống ít nhất 1 lần sẽ không thể Sửa/Xóa, chỉ có thể Hủy (vẫn lưu lịch sử).
                </div>
            </div>
        </div>
    {elseif $sub_view == "all"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    Lịch sử các lần gửi thuốc của tất cả các trẻ trong trường.
                </div>
            </div>
        </div>
    {elseif $sub_view == "add"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    <strong>Để tạo đơn thuốc cho trẻ, bạn phải thực hiện như sau:</strong>
                    <br/>1. Chọn lớp để lấy ra danh sách trẻ.
                    <br/>2. Chọn trẻ cần cho uống thuốc từ danh sách.
                    <br/>3. Nhập thông tin đơn thuốc (1 đơn thuốc có thể uống trong nhiều ngày).
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "services"}
    {if $sub_view == ""}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    <strong>{__('Service')}</strong> trên hệ thống Inet được định nghĩa là sản phầm/dịch vụ nhà trường cung cấp THÊM trong việc nuôi dạy trẻ. Trẻ học ở trường có thể sử dụng hoặc không (ví dụ: xe đưa đón, đón muộn...).
                    {if (count($rows) == 0)}
                        <br/>- Chưa có dịch vụ nào được tạo trên hệ thống. {if canEdit($username, $view)}<a href="{$system['system_url']}/school/{$username}/services/add">Tạo dịch vụ</a>{/if}
                    {/if}
                </div>
            </div>
        </div>
    {elseif $sub_view == "add"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
                        <span class="strong">Bước 4.</span> Cài đặt học phí<br/>
                        <span class="strong">Bước 4.1.</span> Thêm dịch vụ mới<br/>
                    {/if}
                    <strong>{__('Service')}</strong> trên hệ thống Inet được định nghĩa là sản phầm/dịch vụ nhà trường cung cấp THÊM trong việc nuôi dạy trẻ. Trẻ học ở trường có thể sử dụng hoặc không (ví dụ: xe đưa đón, đón muộn...). <br/><br/>
                    <strong>Dịch vụ được phân chia theo hình thức tính phí, bao gồm:</strong>
                    <br/>1. Tính phí theo tháng (ví dụ: xe đưa đón...). Phí dịch vụ là đơn giá theo tháng.
                    <br/>2. Theo ngày trẻ đi học (tính theo điểm danh). Phí dịch vụ là đơn giá cho một lần điểm danh.
                    <br/>3. Theo số lần sử dụng (ví dụ: đón muộn...). Phí dịch vụ là đơn giá cho một lần sử dụng.
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "useservices"}
    {*{if $sub_view == "register"}*}
        {*<div class="col-md-9 col-sm-9">*}
            {*<div class="panel panel-default">*}
                {*<div class="panel-body color_red">*}
                {*Chức năng này chỉ áp dụng cho dịch vụ <strong>Tính phí theo tháng</strong> và <strong>Tính phí theo ngày đi học</strong>. Trẻ cần đăng ký để hệ thống có thể tự động tính phí vào học phí.*}
                {*<br/>Đối với dịch vụ <strong>Tính phí theo số lần sử dụng</strong> thì cần phải được Ghi lại (tại chức năng '<strong>Đăng ký dịch vụ theo số lần sử dụng</strong>') để tính vào học phí.*}
                {*</div>*}
            {*</div>*}
        {*</div>*}
    {*{elseif $sub_view == "record"}*}
        {*<div class="col-md-9 col-sm-9">*}
            {*<div class="panel panel-default">*}
                {*<div class="panel-body color_red">*}
                    {*Chức năng này chỉ áp dụng cho dịch vụ <strong>Tính phí theo số lần sử dụng</strong>. Mỗi lần trẻ sử dụng (ví dụ: đón muộn...), thì giáo viên ghi lại tại đây.*}
                    {*{if count($services) == 0}*}
                        {*<br/>- Hiện tại, không có dịch vụ <strong>Tính phí theo số lần sử dụng</strong>.*}
                    {*{/if}*}
                {*</div>*}
            {*</div>*}
        {*</div>*}
    {*{elseif $sub_view == "history"}*}
        {*<div class="col-md-9 col-sm-9">*}
            {*<div class="panel panel-default">*}
                {*<div class="panel-body color_red">*}
                    {*Chức năng này để xem lịch sử sử dụng dịch vụ <strong>cả trường, một lớp hay một trẻ</strong>, đối với dịch vụ <strong>Tính phí theo số lần sử dụng</strong>.*}
                {*</div>*}
            {*</div>*}
        {*</div>*}
    {*{/if}*}
{elseif $view == "fees"}
    {if $sub_view == ""}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    Các khoản trong học phí là chi phí mà trẻ BẮT BUỘC phải trả khi học ở trường (ví dụ: học phí, tiền ăn, dụng cụ học tập...).
                    <br/>(Phân biệt với phí dịch vụ: là phí có thể sử dụng dịch vụ hoặc không, ví dụ: đón muộn, xe đưa đón).
                </div>
            </div>
        </div>
    {elseif $sub_view == "add"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
                        <span class="strong">Bước 4.</span> Cài đặt học phí<br/>
                        <span class="strong">Bước 4.2.</span> Thêm loại phí mới<br/>
                    {/if}
                    - Các khoản trong học phí là chi phí mà trẻ <strong>BẮT BUỘC</strong> phải trả khi học ở trường (ví dụ: học phí, tiền ăn, dụng cụ học tập...).
                    <br/>- Phân biệt với phí dịch vụ: là phí có thể sử dụng dịch vụ hoặc không, ví dụ: đón muộn, xe đưa đón. <br/>
                    <strong>- Lưu ý:</strong> <br/>
                    - Chu kỳ tính phí có 2 loại: <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;+ Phí hàng tháng: Là các khoản đóng góp cố định theo tháng (ví dụ: học phí). <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;+ Phí hàng ngày: Là các khoản tính phí theo ngày (ví dụ: tiền ăn), nếu ngày hôm đó trẻ nghỉ hệ thống sẽ tự trừ tiền ăn.

                </div>
            </div>
        </div>
    {/if}
{elseif $view == "tuitions"}
    {if $sub_view == ""}
    {elseif $sub_view == "add"}
        {*<div class="col-md-9 col-sm-9">*}
            {*<div class="panel panel-default">*}
                {*<div class="panel-body color_red">*}
                {*- Để tạo học phí tháng, bạn phải tạo các loại phí của trường trước (lưu ý phân biệt giữa học phí và phí dịch vụ). {if canEdit($username, $view)}<a href="{$system['system_url']}/school/{$username}/fees/add">Tạo loại phí</a>{/if}*}
                {*</div>*}
            {*</div>*}
        {*</div>*}
    {/if}
{elseif $view == "events"}
    {if $sub_view == ""}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    Danh sách tất cả sự kiện của trường, bao gồm cả cấp khối và cấp lớp.
                </div>
            </div>
        </div>
    {elseif ($sub_view == "add") || ($sub_view == "edit")}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    - <strong>Phạm vi</strong> của Thông báo - Sự kiện nghĩa là phạm vi có hiệu lực của Thông báo - Sự kiện đó (áp dụng cho toàn trường, toàn khối hay cho một lớp).
                    <br/>- Nếu chọn <strong>Đăng lên tường</strong>, nội dung của Thông báo - Sự kiện sẽ được đăng lên tường của trường (đối với cấp trường), đăng lên tường của tất cả các lớp trong khối (đối với cấp khối) và đăng lên tường của một lớp (đối với cấp lớp).
                    <br/>- Nếu chọn <strong>Thông báo ngay</strong>, khi đó nội dung của Thông báo - Sự kiện sẽ được thông báo tới giáo viên và phụ huynh. Chỉ khi chọn thông báo ngay, thì nội dung <strong>MỚI</strong> đăng lên tường (chưa thông báo, nghĩa là đang soạn thảo nội dung).
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "children"}
    {if $sub_view == "add"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    <strong>Mỗi trẻ có thể có nhiều phụ huynh (bố, mẹ, ông, bà...). Phụ huynh được gán vào cho trẻ bằng 02 cách:</strong>
                    <br/>- Cách 1: Điền thông tin vào ô phụ huynh để Tìm & Thêm từ những tài khoản người dùng đã có trong hệ thống.
                    <br/>- Cách 2: Tích chọn ô 'Tạo tài khoản phụ huynh' để hệ thống tự tạo và thông báo cho phụ huynh qua email (trường hợp này, phải nhập chính xác email phụ huynh).
                </div>
            </div>
        </div>
    {elseif $sub_view == ""}
        {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
            <div class="col-md-9 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body color_red">
                        <span class="strong">Bước 6.</span> Thêm trẻ mới. <br/>
                        Bạn có thể thêm trẻ theo hai cách: <br/>
                        <span class="strong">Cách 1:</span> Thêm trẻ mới (thêm từng trẻ một).<br/>
                        <span class="strong">Cách 2:</span> Thêm bằng file excel (thêm nhiều trẻ một lúc).<br/>
                        <strong>- Lưu ý:</strong> Phải tạo lớp trước khi nhập thông tin trẻ vào lớp đó. {if canEdit($username, "classes")}<a href="{$system['system_url']}/school/{$username}/classes/add">Tạo lớp</a>{/if}
                    </div>
                </div>
            </div>
        {/if}
    {elseif $sub_view == "import"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    <strong>Bạn phải sử dụng biểu mẫu file Excel đúng quy định của hệ thống, biểu mẫu tải về tại <a target="_blank" href="https://drive.google.com/file/d/13r9KTR1wADeDJg4rL8vI5dd-YTxgjyGG/view?usp=sharing">ĐÂY</a>.</strong>
                    <br/>- Phải tạo lớp trước khi nhập thông tin trẻ vào lớp đó. {if canEdit($username, "classes")}<a href="{$system['system_url']}/school/{$username}/classes/add">Tạo lớp</a>{/if}
                </div>
            </div>
        </div>
    {elseif $sub_view == "listchildedit"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong>- Danh sách trẻ được cập nhật bởi giáo viên</strong>
                </div>
            </div>
        </div>
    {elseif $sub_view == "addhealthindex"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    - Thêm chỉ số sức khỏe cho trẻ. <br/>
                    - Kích chuột vào tên từng trẻ để thêm thông tin sức khỏe cho trẻ đó. <br/>
                    - Lưu ý: <strong>Hệ thống chỉ ghi dữ liệu những trẻ được thêm cả chiều cao và cân nặng</strong>
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "healths"}
    {if $sub_view == "add"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    - Thêm chỉ số sức khỏe cho trẻ. <br/>
                    - Kích chuột vào tên từng trẻ để thêm thông tin sức khỏe cho trẻ đó. <br/>
                    - Lưu ý: <strong>Hệ thống chỉ ghi dữ liệu những trẻ được thêm cả chiều cao và cân nặng</strong>
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "classes"}
    {if $sub_view == "add"}

            <div class="col-md-9 col-sm-9">
                <div class="panel panel-default">
                    {if $school['school_step'] == SCHOOL_STEP_FINISH  || $school['grade'] != 0}
                        <div class="panel-body color_red">
                            Để tạo lớp bạn cần tạo giáo viên của lớp trong hệ thống trước bằng cách: {if canEdit($username, "teachers")}<a href="{$system['system_url']}/school/{$username}/teachers/add">{__("Add New")}</a> | <a href="{$system['system_url']}/school/{$username}/teachers/addexisting">{__("Add Existing Account")}</a>.{/if}
                            <br/>- Một lớp có thể có nhiều giáo viên. Nhập thông tin giáo viên để tìm & Thêm vào lớp lần lượt.
                            {if count($class_levels) == 0}
                                <br/>- Bạn phải tạo khối lớp trước khi tạo lớp. {if canEdit($username, "classlevels")}<a href="{$system['system_url']}/school/{$username}/classlevels/add">{__("Add New Class Level")}</a>{/if}
                            {/if}
                            <br/>
                            <strong>- Bạn có thể ấn vào "Thêm mới giáo viên" để tạo tài mới tài khoản giáo viên cho trường của bạn</strong>
                        </div>
                    {else}
                        <div class="panel-body">
                            <strong>Bước 2.</strong> Tạo các lớp trong trường.
                        </div>
                    {/if}
                </div>
            </div>
    {elseif $sub_view == ""}
        {if $school['school_step'] == SCHOOL_STEP_FINISH  || $school['grade'] != 0}
            <div class="col-md-9 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body color_red">
                        Để tốt nghiệp cho cả lớp, vui lòng click vào nút <strong>"Tốt nghiệp"</strong> tại danh sách lớp.
                    </div>
                </div>
            </div>
        {/if}
    {/if}
{elseif $view == "teachers"}
    {if $sub_view == "add"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
                        <strong>Bước 3.</strong> Thêm giáo viên vào trường của bạn. <br/>
                    {/if}
                    <span class="color_red"><strong>Lưu ý:</strong></span> <br/>
                    - Nếu giáo viên đã có tài khoản trên hệ thống, bạn có thể ấn vào "Thêm tài khoản đã tồn tại" để thêm giáo viên vào trường của bạn. <br/>
                    - Nếu thêm mới tài khoản giáo viên, bạn phải điền đầy đủ thông tin trên màn hình. Hệ thống sẽ gửi mail thông báo cho giáo viên tới địa chỉ mail được nhập. <br/>
                    - Bạn vui lòng ghi nhớ "Email" và "mật khẩu" để cung cấp cho giáo viên làm tài khoản đăng nhập vào hệ thống.
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "classlevels"}
    <div class="col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body">
                {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
                    <strong>Bước 1.</strong> Tạo các khối của trường để sử dụng Inet (<strong>bắt buộc</strong>).<br/>
                {/if}
                Hệ thống tạo mặc định hai khối. Bạn có thể sửa/xoá/thêm khối để phù hợp với trường. <br/>
                ví dụ về rank level : Khối nhà trẻ -> -1. Khối mẫu giáo -> 0. Khối cấp 1 -> 1.. <br/>
                {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0 && count($rows) == 0}
                    <strong>- Vui lòng tạo một khối để có thể tiếp tục</strong>
                {/if}
            </div>
        </div>
    </div>
{elseif $view == "schedules"}
    {if $sub_view == "import"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    <strong>- Bạn phải sử dụng biểu mẫu file Excel đúng quy định của hệ thống, biểu mẫu tải về tại <a target="_blank" href="https://drive.google.com/file/d/1mSqEX4sMhZ-6VogLKY7ImI_cs4ITWVTV/view?usp=sharing">ĐÂY</a>.</strong>
                    <br/>
                    - Bạn phải <strong>cấu hình</strong> lịch học trước khi LƯU
                </div>
            </div>
        </div>
    {/if}
{elseif $view == "pickup"}
    {if $sub_view == "template"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
                        <span class="strong">Bước 5.</span> Cài đặt đón muộn <br/>
                        <span class="strong">Bước 5.1.</span> Cài đặt và tạo bảng giá. <br/>
                    {/if}
                    - Bạn có thể cài đặt giờ bắt đầu tính đón muộn, bảng giá đón muộn, các dịch vụ đi kèm và tạo các lớp đón muộn tại màn hình này.
                </div>
            </div>
        </div>
    {elseif $sub_view == "assign"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    {if $school['school_step'] != SCHOOL_STEP_FINISH  && $school['grade'] == 0}
                        <span class="strong">Bước 5.</span> Cài đặt đón muộn <br/>
                        <span class="strong">Bước 5.2.</span> Phân công giáo viên vào lớp trông muộn. <br/>
                    {/if}
                    - Để phân công giáo viên vào lớp đón muộn, bạn có thể làm như sau:<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; 1. Chọn ngày/thời gian.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; 2. Chọn lớp đón muộn.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; 3. Chọn giáo viên trông lớp đón muộn đó.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; 4. Ấn nút "Lưu".<br/>
                    <strong>Lưu ý:</strong> Bạn có thể bật nút "Lặp lịch" để những tuần tiếp theo lịch trông lớp đón muộn tự động lặp lại.
                </div>
            </div>
        </div>
    {/if}
{*{elseif $view == "reports"}*}
    {*<div class="col-md-9 col-sm-9">*}
        {*<div class="panel panel-default">*}
            {*<div class="panel-body color_red">*}
                {*- Những sổ liên lạc đã thông báo rồi sẽ không <strong>SỬA</strong> hoặc <strong>XÓA</strong> được.</strong>*}
            {*</div>*}
        {*</div>*}
    {*</div>*}
{elseif $view == "points"}
    {if $sub_view == "import"}
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body color_red">
                    {if $school['grade'] == 1}
{*                        UPDATE START MANHDD 18/06/2021*}
{*                        <strong>Bạn phải sử dụng biểu mẫu file Excel đúng quy định của hệ thống, biểu mẫu tải về tại <a target="_blank" href="https://drive.google.com/file/d/1-OpKKy5qnB18bqmWkgmxMHfnrapRxeKP/view?usp=sharing">ĐÂY</a>.</strong>*}
                        <strong>Bạn phải sử dụng biểu mẫu file Excel đúng quy định của hệ thống, biểu mẫu tải về tại <a target="_blank" href="#">ĐÂY</a>.</strong>
{*                        UPDATE END MANHDD 18/06/2021*}
                    {elseif $school['grade'] == 2}
{*                        UPDATE START MANHDD 18/06/2021*}
{*                        <strong>Bạn phải sử dụng biểu mẫu file Excel đúng quy định của hệ thống, biểu mẫu tải về tại <a target="_blank" href="https://drive.google.com/file/d/1Q_TrpQAFpJuPE1geF-qbr-yQSSdrhh3l/view?usp=sharing">ĐÂY</a>.</strong>*}
                        <strong>Bạn phải sử dụng biểu mẫu file Excel đúng quy định của hệ thống, biểu mẫu tải về tại <a target="_blank" href="#">ĐÂY</a>.</strong>
{*                        UPDATE END MANHDD 18/06/2021*}
                    {/if}
                </div>
            </div>
        </div>
    {/if}
{/if}
