{include file='_head.tpl'}
{include file='_header.tpl'}

<!-- page content -->
<div class="container mt20 height_min"> <!-- class height_min để set height tối thiểu của container -->
    <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-8">

            
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
        {include file='_ads.tpl'}
        {include file='_widget.tpl'}
        </div>

    </div>
</div>
<!-- page content -->

{include file='_footer.tpl'}