<div class="panel panel-default">
    <div class="panel-heading with-icon">
        <i class="fa fa-share fa-fw fa-lg pr10"></i>
        {__('Month age information')}
    </div>
    {if $sub_view == ""}
        <div class="panel-body with-table form-horizontal">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover js_dataTable">
                    <thead>
                    <tr>
                        <th colspan="3">{__("Month age information")}</th>
                    </tr>
                    <tr>
                        <th>{__('No.')}</th>
                        <th>{__('Month')}</th>
                        <th>{__('Title')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $childMonths as $k => $row}
                        <tr>
                            <td align="center">{$k + 1}</td>
                            <td align="center">{__("Month information")} {$row['month']}</td>
                            <td>
                                <a href="{$row['link']}" target="_blank">{$row['title']}</a>
                            </td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    {/if}
</div>