<div class="panel panel-default">
    <div class="panel-body color_red">
        {if $view == ""}
        {elseif $view == "childdevelopments"}

        {elseif $view == "services"}
            {if $sub_view == ""}
                <strong>Dịch vụ:</strong> Xem những dịch vụ trẻ đã đăng ký (dịch vụ đăng ký theo số lần sử dụng và dịch vụ theo tháng/số ngày điểm danh). <br/>
                - Xem những dịch vụ tính theo số lần: tìm kiếm theo khoảng thời gian (từ ngày - đến ngày).
            {elseif $sub_view == "reg"}
                <strong>Lưu ý:</strong> <br/>
                - Dịch vụ đã đăng ký không thể hủy, muốn hủy vui lòng liên hệ giáo viên hoặc quản lý trường. <br/>
            {/if}
        {/if}
    </div>
</div>